@model IEnumerable<GD.FinishingSystem.Entities.Sample>

@{
    int ruloProcessId = ViewBag.RuloProcessId;
    int ruloId = ViewBag.RuloId;
}

<h1 class="mt-4">Sample Details</h1>

@if (User.IsInRole("SampleAdd") || User.IsInRole("SampleFull") || User.IsInRole("AdminFull"))
{
    <a asp-action="Create" asp-route-ruloprocessid="@ruloProcessId" class="btn btn-sm btn-outline-light border-dark btn-dark">
        <i class="lni lni-circle-plus"></i> Create New
    </a>
}

@if (User.IsInRole("Sample", AuthType.Add))
    @Html.Raw(" | ")
<a asp-action="Index" asp-controller="RuloProcess" asp-route-ruloid="@ruloId" class="btn btn-sm btn-secondary"><i class="lni lni-chevron-left-circle"></i> Back to Processes</a>
<br />
<br />

<table class="table table-sm table-hover table-responsive-md">
    <thead>
        <tr>
            <th colspan="5">Sample Details List</th>
        </tr>
        <tr>
            <th>
                <i class="lni lni-line-dashed"></i>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CutterUser.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SampleID)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Meter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CutterUser.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Details)
                </td>

                <td>
                    @if (User.IsInRole("SampleUp") || User.IsInRole("SampleFull") || User.IsInRole("AdminFull"))
                    {
                        <a asp-action="Edit" asp-route-sampleid="@item.SampleID">
                            <i class="lni lni-slice"></i>
                        </a>
                    }

                    @if (User.IsInRole("SampleShow") || User.IsInRole("SampleFull") || User.IsInRole("AdminFull"))
                    {
                        if (User.IsInRole("Sample", AuthType.Update))
                            @Html.Raw(" | ")

                            <a asp-action="Details" asp-route-sampleid="@item.SampleID">
                                <i class="lni lni-question-circle"></i>
                            </a>
                        }

                    @if (User.IsInRole("SampleDel") || User.IsInRole("SampleFull") || User.IsInRole("AdminFull"))
                    {
                        if (User.IsInRole("Sample", AuthType.Update) || User.IsInRole("Sample", AuthType.Show))
                            @Html.Raw(" | ")
                            <a asp-action="Delete" asp-route-sampleid="@item.SampleID">
                                <i class="lni lni-circle-minus"></i>
                            </a>
                        }
                    @if (User.IsInRole("Sample", AuthType.Show))
                    {
                        if (User.IsInRole("Sample", AuthType.Show) || User.IsInRole("Sample", AuthType.Update) || User.IsInRole("Sample", AuthType.Delete))
                            @Html.Raw(" | ")

                            <a alt="Rulos Process" onclick="showRuloProcess(@item.RuloProcessID);" href="#" data-toggle="modal" data-target="#modalDialogRuloProcess">
                                <i class="lni lni-direction-alt"></i>
                            </a>
                        }
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="modalDialogRuloProcess" tabindex="-1" role="dialog" width="350px" arial-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Rulo Process</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="ruloProcessInfo"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function showRuloProcess(ruloProcessId) {
        $.ajax({
            url: "/Sample/GetRuloProcess",
            type: "GET",
            data:
            {
                RuloProcessId: ruloProcessId
            },
            success: function (data) {
                document.getElementById("ruloProcessInfo").innerHTML = data;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("Something went wrong!");
            }
        });
    }
</script>
