@model GD.FinishingSystem.Entities.Machine

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Machine Information</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <i class="lni lni-line-dashed"></i>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachineID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefinationProcessID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefinationProcessID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachineCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachineCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachineName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachineName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        @Html.HiddenFor(model=>model.MachineID)
        @Html.AntiForgeryToken()
        @*<input type="submit" value="Delete" class="btn btn-sm btn-danger" />*@
        <button type="submit" class="btn btn-sm btn-danger"><i class="lni lni-circle-minus"></i> Delete</button> |
        <a asp-action="Index" class="btn btn-sm btn-secondary"><i class="lni lni-chevron-left-circle"></i> Back to List</a>
    </form>
</div>
