@model GD.FinishingSystem.Entities.TestResult

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Test Result Information</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <i class="lni lni-line-dashed"></i>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestResultID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanContinue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanContinue)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-sm btn-success" asp-route-testresultid="@Model.TestResultID"><i class="lni lni-slice"></i> Edit</a> |
    <a asp-action="Index" class="btn btn-sm btn-secondary"><i class="lni lni-chevron-left-circle"></i> Back to List</a>
</div>
