@model GD.FinishingSystem.Entities.Rulo

@{
    // Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-info">
    <h1 class="mt-4">
        @if (Model.RuloID == 0)
        {
            @Html.Raw("Create")
            ViewData["Title"] = "Create Rulo Information";
        }
        else
        {
            @Html.Raw("Edit")
            ViewData["Title"] = "Edit Rulo Information";
        }
    </h1>

    <h4>Rulo Information</h4>
    <hr />

</div>


<div class="alert alert-success">
    <form asp-action="Save">
        @Html.HiddenFor(o => o.RuloID)
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">


            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                    <label asp-for="Lote" class="control-label"></label>
                    <input asp-for="Lote" class="form-control" />
                    <span asp-validation-for="Lote" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                    <label asp-for="Beam" class="control-label"></label>
                    <input asp-for="Beam" class="form-control" type="number" />
                    <span asp-validation-for="Beam" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                    <label asp-for="BeamStop" class="control-label"></label>
                    <input asp-for="BeamStop" class="form-control" />
                    <span asp-validation-for="BeamStop" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                    <label asp-for="Loom" class="control-label"></label>
                    <input asp-for="Loom" class="form-control" type="number" />
                    <span asp-validation-for="Loom" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                    <label asp-for="LoomLetter" class="control-label"></label>
                    <input asp-for="LoomLetter" class="form-control" />
                    <span asp-validation-for="LoomLetter" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                    <label asp-for="Piece" class="control-label"></label>
                    <input asp-for="Piece" class="form-control" type="number" />
                    <span asp-validation-for="Piece" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                    <label asp-for="PieceLetter" class="control-label"></label>
                    <input asp-for="PieceLetter" class="form-control" />
                    <span asp-validation-for="PieceLetter" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                    <label asp-for="Style" class="control-label"></label>
                    <input asp-for="Style" class="form-control" />
                    <span asp-validation-for="Style" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                    <label asp-for="StyleName" class="control-label"></label>
                    <input asp-for="StyleName" class="form-control" />
                    <span asp-validation-for="StyleName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                    <label asp-for="Width" class="control-label"></label>
                    <input asp-for="Width" class="form-control" />
                    <span asp-validation-for="Width" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                    <label asp-for="EntranceLength" class="control-label"></label>
                    <input asp-for="EntranceLength" class="form-control" type="number" />
                    <span asp-validation-for="EntranceLength" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                    <label asp-for="Shift" class="control-label"></label>
                    <input asp-for="Shift" class="form-control" type="number" />
                    <span asp-validation-for="Shift" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                    <label asp-for="OriginID" class="control-label"></label>
                    <select asp-for="OriginID" asp-items="@ViewBag.OriginList" class="form-control"></select>
                    <span asp-validation-for="OriginID" class="text-danger"></span>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                    <label asp-for="Observations" class="control-label"></label>
                    <textarea asp-for="Observations" rows="3" class="form-control"></textarea>
                    <span asp-validation-for="Observations" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                    <label asp-for="FolioNumber" class="control-label"></label>
                    <input asp-for="FolioNumber" class="form-control" type="number" />
                    <span asp-validation-for="FolioNumber" class="text-danger"></span>
                </div>
            </div>

            @if ((bool)ViewBag.Error)
            {
                <hr />
                <div class="alert alert-danger">
                    @Html.Raw(ViewBag.ErrorMessage)
                </div>

            }
            <div class="col-12">
                <div class="form-group">
                    @if (Model.RuloID == 0)
                    {
                        <button type="submit" class="btn btn-primary"><i class="lni lni-circle-plus"></i> Create</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-success"><i class="lni lni-save"></i> Save Changes</button>
                    }
                </div>

            </div>
        </div>

    </form>
</div>



<div>
    <a asp-action="Index" class="btn btn-sm btn-secondary"><i class="lni lni-chevron-left-circle"></i> Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
