@model IEnumerable<GD.FinishingSystem.Entities.DefinationProcess>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-4">Definition Processes</h1>

@if (User.IsInRole("DefinationProcessAdd") || User.IsInRole("DefinationProcessFull"))
{
    <p>
        <a asp-action="Create" class="btn btn-sm btn-outline-light boder-dark btn-dark">
            <i class="lni lni-circle-plus"></i> Create New
        </a>
    </p>
}

<table class="table table-sm table-hover table-responsive-md">
    <thead>
        <tr>
            <th colspan="5">Definition List</th>
        </tr>
        <tr>
            <th>
                <i class="lni lni-line-dashed"></i>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcessCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Machines
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DefinationProcessID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProcessCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (item.DefinationProcessID != 0) //Show butons when rulo exist
                    {
                        @if (User.IsInRole("MachineAdd") || User.IsInRole("MachineFull") || User.IsInRole("AdminFull"))
                        {
                            <a asp-controller="Machine" asp-action="Index" asp-route-reldefinationprocessid="@item.DefinationProcessID" class="btn btn-sm btn-info">
                                <i class="lni lni-list "></i> Machines
                            </a>
                        }

                    }
                </td>

                <td>
                    <div style="display:block;width:107px;">
                        @if (User.IsInRole("DefinitionProcessUp") || User.IsInRole("AdminFull") || User.IsInRole("DefinitionProcessFull"))
                        {
                            <a asp-controller="DefinationProcess" asp-action="Edit" asp-route-definationprocessid="@item.DefinationProcessID">
                                <i class="lni lni-slice"></i>
                            </a>
                            @Html.Raw(" | ");
                        }
                        @if (User.IsInRole("DefinitionProcessShow") || User.IsInRole("AdminFull") || User.IsInRole("DefinitionProcessFull"))
                        {
                            <a asp-controller="DefinationProcess" asp-action="Details" asp-route-definationprocessid="@item.DefinationProcessID">
                                <i class="lni lni-question-circle"></i>
                            </a>
                            @Html.Raw(" | ");
                        }
                        @if (User.IsInRole("DefinitionProcessDel") || User.IsInRole("AdminFull") || User.IsInRole("DefinitionProcessFull"))
                        {
                            <a asp-controller="DefinationProcess" asp-action="Delete" asp-route-definationprocessid="@item.DefinationProcessID">
                                <i class="lni lni-circle-minus"></i>
                            </a>
                        }
                        @if (User.IsInRole("DefinitionProcess", AuthType.Show))
                        {
                            <a alt="Machines" onclick="showMachines(@item.DefinationProcessID);" href="#" data-toggle="modal" data-target="#modalDialogMachines">
                                <i class="lni lni-direction-alt"></i>
                            </a>
                        }
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="modalDialogMachines" tabindex="-1" role="dialog" width="350px" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Machines List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="machinesDef"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    function showMachines(DefinationProcessID) {
        $.ajax({
            url: "/DefinationProcess/GetMachines",
            type: "GET",
            data: {
                DefinationProcessID: DefinationProcessID
            },
            success: function (data) {
                document.getElementById("machinesDef").innerHTML = data;
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("Something went wrong!");
            }
        });
    }
</script>
