@model GD.FinishingSystem.Entities.RuloMigration

@{
    var locationList = ViewBag.LocationList;
}

<div class="alert alert-info">
    <h1 class="mt-4">
        @if (Model.RuloMigrationID == 0)
        {
            @Html.Raw("Create")
            ViewData["Title"] = "Create Rulo Raw Information";
        }
        else
        {
            @Html.Raw("Edit")
            ViewData["Title"] = "Edit Rulo Raw Information";
        }
    </h1>

    <h4>Rulo Raw Information</h4>
    <hr />
</div>


<div class="alert alert-success">

    <form asp-action="Save">
        @Html.HiddenFor(x => x.RuloMigrationID)
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                    <label asp-for="IsTestStyle" class="control-label"></label>
                    <input type="checkbox" asp-for="IsTestStyle" class="form-control input-xs" onclick="setStyleTest();" />
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                    <label asp-for="Lote" class="control-label"></label>
                    <input asp-for="Lote" class="form-control" onfocusout="getStyleData()" />
                    <span asp-validation-for="Lote" class="text-danger"></span>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                    <label asp-for="Beam" class="control-label"></label>
                    <input asp-for="Beam" class="form-control" />
                    <span asp-validation-for="Beam" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                    <label asp-for="BeamStop" class="control-label"></label>
                    <input asp-for="BeamStop" class="form-control" />
                    <span asp-validation-for="BeamStop" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                    <label asp-for="Loom" class="control-label"></label>
                    <input asp-for="Loom" class="form-control" />
                    <span asp-validation-for="Loom" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                    <label asp-for="IsToyotaMigration" class="control-label"></label>
                    <input type="checkbox" asp-for="IsToyotaMigration" class="form-control input-xs" />
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                    <label asp-for="Style" class="control-label"></label>
                    <input asp-for="Style" class="form-control" disabled />
                    <span asp-validation-for="Style" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                    <label asp-for="StyleName" class="control-label"></label>
                    <input asp-for="StyleName" class="form-control" disabled />
                    <span asp-validation-for="StyleName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                    <label asp-for="DefinitionProcessID" class="control-label"></label>
                    <select asp-for="DefinitionProcessID" asp-items="@ViewBag.DefinitionProcessList" class="form-control"></select>
                    <span asp-validation-for="DefinitionProcessID" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                    <label asp-for="PieceNo" class="control-label"></label>
                    <input asp-for="PieceNo" class="form-control" />
                    <span asp-validation-for="PieceNo" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                    <label asp-for="PieceBetilla" class="control-label"></label>
                    <input asp-for="PieceBetilla" class="form-control" />
                    <span asp-validation-for="PieceBetilla" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                    <label asp-for="Meters" class="control-label"></label>
                    <input asp-for="Meters" class="form-control" />
                    <span asp-validation-for="Meters" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                    <label asp-for="GummedMeters" class="control-label"></label>
                    <input asp-for="GummedMeters" class="form-control" />
                    <span asp-validation-for="GummedMeters" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                    <label asp-for="MigrationCategoryID" class="control-label"></label>
                    <select asp-for="MigrationCategoryID" asp-items="@ViewBag.MigrationCategoryList" class="form-control"></select>
                    <span asp-validation-for="MigrationCategoryID" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                    <label asp-for="WeavingShift" class="control-label"></label>
                    <input asp-for="WeavingShift" class="form-control" />
                    <span asp-validation-for="WeavingShift" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                    <label asp-for="OriginID" class="control-label"></label>
                    <select asp-for="OriginID" asp-items="@ViewBag.OriginCategoryList" class="form-control"></select>
                    <span asp-validation-for="OriginID" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                    <label asp-for="Location">Location</label><br />
                    <select asp-for="LocationID" asp-items="@ViewBag.LocationList" class="form-control"></select>
                    <span asp-validation-for="LocationID" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                    <label asp-for="Observations" class="control-label"></label>
                    <textarea asp-for="Observations" rows="3" class="form-control"></textarea>
                    <span asp-validation-for="Observations" class="text-danger"></span>
                </div>
            </div>

            <div class="col-12">
                @if ((bool)ViewBag.Error)
                {
                    <hr />
                    <div class="alert alert-danger">
                        @Html.Raw(ViewBag.ErrorMessage)
                    </div>
                }

                <div class="form-group">
                    @if (Model.RuloMigrationID == 0)
                    {
                        <button type="submit" class="btn btn-primary"><i class="lni lni-circle-plus"></i> Create</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-success"><i class="lni lni-save"></i> Save Changes</button>
                    }

                </div>
            </div>


        </div>
    </form>

</div>

<div>
    <a asp-action="Index" class="btn btn-sm btn-secondary"><i class="lni lni-chevron-left-circle"></i> Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    function getStyleData() {
        var isTestStyle = false;

        if (document.getElementById("IsTestStyle"))
            isTestStyle = document.getElementById("IsTestStyle").checked;

        if (!isTestStyle) {

            let loteRulo = $("#Lote").val();

            if (!isNaN(loteRulo)) {
                if (loteRulo != 0) {
                    $.ajax({
                        url: "/Migration/GetStyleData",
                        type: "POST",
                        data: {
                            lote: loteRulo
                        },
                        success: function (data) {
                            if (data) {
                                if (data.errorMessage == "") {
                                    $("#Style").val(data.style);
                                    $("#StyleName").val(data.styleName);
                                }
                                else
                                    alert(data.errorMessage);
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert("404 Not found!");
                        }
                    })
                }
            }
            else {
                $("#Style").val("");
                $("#StyleName").val("");
            }

        }

    }

    window.load = setStyleTest();

    function setStyleTest() {
        if (document.getElementById('IsTestStyle')) {
            if (document.getElementById('IsTestStyle').checked) {
                document.getElementById('Style').disabled = false;
                document.getElementById('StyleName').disabled = false;

                document.getElementById('DefinitionProcessID').disabled = true;
            } else {
                document.getElementById('Style').disabled = true;
                document.getElementById('StyleName').disabled = true;

                document.getElementById('DefinitionProcessID').disabled = false;
            }
        }
    }
</script>