@model GD.FinishingSystem.WEB.Classes.IndexModelPeriod
@{
}

<h1 class="mt-4">Periods</h1>

<p>
    <a onclick="showCreatePeriod()" class="btn btn-sm btn-outline-light border-dark btn-dark" role="button" data-backdrop="static" data-keyboard="false" href="#" data-toggle="modal" data-target="#modalDialogGeneral">
        <i class="lni lni-circle-plus"></i> Change Period
    </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th colspan="10">
                <form asp-action="Index" method="post" id="formPeriod">
                    <div>
                        Period List
                        <a onclick="exportAllToExcel();" class="btn btn-sm btn-success"><i class="far fa-file-excel"></i> Export to Excel</a>
                    </div>
                </form>
            </th>
        </tr>
        <tr>
            <th>
                <i class="lni lni-line-dashed"></i>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeriodList[0].Style)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeriodList[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeriodList[0].FinishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeriodList[0].ValidityLastPeriod)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PeriodList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PeriodID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Style)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinishDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValidityLastPeriod)
                </td>

            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.PeriodList.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.PeriodList.HasNextPage ? "disabled" : "";
}

<div>
    <a asp-action="Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="1"
       class="btn btn-primary btn-sm @prevDisabled">
        <i class="lni lni-backward"></i> First
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.PeriodList.PageIndex - 1)"
       class="btn btn-primary btn-sm @prevDisabled">
        <i class="lni lni-chevron-left"></i> Previous
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.PeriodList.PageIndex + 1)"
       class="btn btn-primary btn-sm @nextDisabled">
        Next <i class="lni lni-chevron-right "></i>
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.PeriodList.TotalPages)"
       class="btn btn-primary btn-sm @nextDisabled">
        Last <i class="lni lni-forward"></i>
    </a>

    <span style="font-weight: bold">
        Pag.: @(Model.PeriodList.PageIndex) of @(Model.PeriodList.TotalPages)
    </span>
</div>

@*Dialog General*@
<div class="modal fade" id="modalDialogGeneral" tabindex="-1" role="dialog" width="350px" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="generalInfo"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="createPeriod();" data-dismiss="modal">Ok</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    function showCreatePeriod() {
        var html = "<label for='stylePeriod'>New Period Style:</label><br>";
        html += " <input type='text' id='stylePeriod' name='stylePeriod'> <br>"

        document.getElementById("generalInfo").innerHTML = html;
    }

    function createPeriod() {
        var stylePeriod = $("#stylePeriod").val();
        if (stylePeriod.trim() == '') {
            alert("Style no valid!");
            return;
        }

        $.ajax({
            url: "/Period/CreatePeriod",
            type: "POST",
            data: {
                style: stylePeriod
            },
            success: function (data) {
                location.reload();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("Something went wrong!");
            }
        });
    }

    function exportAllToExcel() {
        document.getElementById("formPeriod").action = "/Period/ExportAllToExcel";
        document.getElementById("formPeriod").submit();
    }


</script>